.ipynb_checkpoints/
.data/
.lib/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.npy**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/
